/* override sidebar primary colour and center align */
.wy-side-nav-search {
  background-color: #343131;
}

/* override max width restrictions */
.wy-nav-content {
  max-width: 1200px
}

/* override table width restrictions */
@media screen and (min-width: 767px) {

   .wy-table-responsive table td {
      /* !important prevents the common CSS stylesheets from overriding
         this as on RTD they are loaded after this stylesheet */
      white-space: normal !important;
   }

   .wy-table-responsive {
      overflow: visible !important;
   }
}

/* override table head text bottom margin */
th.head > p {
  margin-bottom: 0px;
}

/* override table and figure caption center text align */
table > caption {
  text-align: left !important;
}

/* override minimum table width for consistency */
table  {
  min-width: 100%;
}
/* override table margin bottom */
.wy-table-responsive table {
  margin-bottom: 24px !important;
}

/* hide sitemap on index
.toctree-wrapper {
  display: none;
}*/

/* override table notes size */
div.table-notes.compound > p.compound-first, div.table-notes.compound > p.compound-middle, div.table-notes.compound > p.compound-last, div.table-notes.compound > ul.compound-last.simple > li > p {
  font-size: smaller;
  font-style: italic;
}

div.table-notes.compound > p.compound-first, div.table-notes.compound > p.compound-middle {
  margin-bottom: 6px !important;
}

.rst-content dl dt {
  display: table;
  margin: 6px 0;
  font-size: 90%;
  line-height: normal;
  background: #e7f2fa;
  color: #2980B9;
  border-top: solid 3px #6ab0de;
  padding: 6px;
  position: relative;
}

.rst-content dl dl dt {
  margin-bottom: 6px;
  border: none;
  border-left-color: currentcolor;
  border-left-style: none;
  border-left-width: medium;
  border-left: solid 3px #ccc;
  background: #f0f0f0;
  color: #555;
}
